

@{
    Layout = "";

}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/loginstyle.css">

    <title>Guide Me | Login</title>
</head>
<body>



    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/assets/img/login.svg" alt="Notification Panel" class="img-fluid" />
                </div>
                <div class="col-md-6 contents">
                    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="mb-4">
                                <h3>Sign In</h3>
                                <p class="mb-4" id="Message" ></p>
                            </div>
                            <form action="/Account/Login" method="post">

                                <div class="form-group first">
                                    <label for="Email">Email</label>
                                    <input type="email" name="Email" class="form-control" id="Email" required>
                                </div>

                                <div class="form-group last mb-4">
                                    <label for="password">Password</label>
                                    <input type="password" name="Password" class="form-control" id="Password" required>
                                </div>


                                <input type="submit" id="login" value="Log In" class="btn btn-block btn-primary">


                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    <script>
        var loginError = '@TempData["LoginError"]';
        if (loginError) {

            $("#Message").html(loginError);
            $("#Message").css("color", "red");
        }
    </script>
    <script>
        $('#login').click(function () {

            var Email = $("#Email").val();
            var Password = $("#Password").val();

            $.ajax({

                type: "POST",

                url: '@Url.Action("CheckCredentials", "Account")',

                dataType: "json",

                data:
                   '{Email:"'+Email+'",Password:"'+Password+'"}',


                contentType: "application/json; charset=utf-8",



                success: function (Exists) {

                    if (Exists) {

                    }
                    else {
                   /*     $("#Message").html("Invalid Login");*/
                        $("#Message").css("display":"block");

                /*        alert("Invalid Login");*/



                    }

                },
                error: function (error) {
                    /*alert('error');*/
                    console.log(error);
                }
            });


        })
    </script>
</body>
</html>