
@{
    ViewBag.Title = "CreateJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
    Post a new Job
</h2>
<form action="/Jobs/CreateJob/" method="post" name="action"  data-success-function="Item.SuccessRedirect">

    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
        <label class="block text-sm">

            <span class="text-gray-700 dark:text-gray-400">Job Title</span>
            <input name="Title" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" />
        </label>



        <label class="block text-sm">
            <span class="text-gray-700 dark:text-gray-400">Job Link</span>
            <input type="text" class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                   name="Body" placeholder="Job Link" id="type" required />

           
        </label>




        <label class="block mt-4 text-sm">
            <button type="submit" class="px-10 py-4 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" id="btnSubmit">
<span>Post Job</span>
            </button>
        </label>









    </div>



 
</form>



<script>

    var temp = '@TempData["m"]';
    if (temp) {
        alert(temp);
    }
</script>